.country-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 10px;
  padding: 0 80px; /* Adjusted padding */
}

.countryCard {
  border: 1px solid #d78f8f;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
}

.countryCard img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.5s ease;
}

.countryCard h2 {
  font-size: 16px;
}

.form-control {
  width: 30%;
  height: 40px;
  text-align: left;
  padding: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}


